.projectsContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.projectDetailsDivLeft{
  border-right: 2px solid rgba(255,255,255,0.8);
}

.projectDetailsDivLeft  h2{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  font: 2vw;
  font-weight: 500;
}

.projectDetailsDivLeft  h2 span{
  width: 20%;

}
.projectDetailsDivLeft  h2 span:nth-child(1){
  text-align: start;
  width: 22%;
  color:rgb(248, 130, 3);
}
.projectDetailsDivLeft  h2 span:nth-child(3){
  text-align: start;
  width: 58%;
  white-space: wrap;
}




.projectsCard{
  border-top: 3px solid rgba(255,255,255,0.8);
  border-radius: 15px ;
  box-shadow: 0 0 200px rgba(77, 100, 203, 0.345);
}



/*   button setup ............. */

.projectDetailsDivRight Button{
  border: none;
}

.projectDetailsDivRight Button:hover{
   background-color:rgb(248, 130, 3);
}